.ProductOfTheWeek {
  width: 80%;
  padding: 0 10%;
  display: block;
  position: relative;
}
.Products{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.main{
  font-size: 2.5rem;
  letter-spacing: .4rem;
  margin: 5rem;
}

.Product_main{
  display: block;
  // width: 210%;

}
.subProucts{
  display: block;
  padding-left:5rem;
}
@media only screen and (max-width: 500px) {
  .Product_sub{
    flex-wrap: wrap;
  }
}
.Product_sub{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.main_image{
  width:45rem;
  // height: 100%;

}
.main_image:hover{
  cursor: pointer;
}
// .text {
//   color: black;
//   font-size: 5rem;
//   border: .3rem solid black;
//   padding: 2rem;
//   position: absolute;
//   width: 13%;
//   bottom: -5%;
//   right: 34%;
//   display: block;
//   text-align: center;
//   font-weight: 300;
//   letter-spacing: .3rem;
// }

.Product_sub img{
  width:30rem;
  height: 70%;
}
.Product_sub img:hover{
  cursor: pointer
}
.title{
  font-size: 3rem;
  letter-spacing: .4rem;
  padding: 0rem 2rem;
}
.description{
  font-size: 2rem;
  letter-spacing: .2rem;
  padding: 0rem 2rem;
}
.Sub_container{
  // width: 50%;
}
