.ProductOfTheWeek {
  width: 70%;
  // height: 100vh;
  padding: 0 15%;
  display: block;
  position: relative;
  // margin: 5rem 0rem;
}
.Products{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.main{
  font-size: 300%;
  letter-spacing: .4rem;
  margin: 5rem;
}

.Product_main{
  display: block;
  width: 210%;

}
.subProucts{
  display: block;
  padding: 0rem 10rem;
}

.Product_sub{
  display: flex;
  flex-wrap: nowrap;
}

.main_image{
  width:100%;

}
.main_image:hover{
  cursor: pointer;
}
.text {
  color: black;
  font-size: 5rem;
  border: .3rem solid black;
  padding: 2rem;
  position: absolute;
  width: 13%;
  bottom: -5%;
  right: 34%;
  display: block;
  text-align: center;
  font-weight: 300;
  letter-spacing: .3rem;
}

.sub_image1{
  width:35%;
  height: 100%;
}
.sub_image1:hover{
  cursor: pointer;
}
.sub_image2{
  width:35%;
  float: right;
  height: 100%;
}
.sub_image2:hover{
  cursor: pointer;
}
.title{
  font-size: 350%;
  letter-spacing: .4rem;
  padding: 0rem 2rem;
}
.description{
  font-size: 150%;
  letter-spacing: .2rem;
  padding: 0rem 2rem;
}
.Sub_container{
  width: 50%;
}
